.start-menu-container {
  bottom: 0;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 200px;
  left: 0;
  position: fixed;
  -webkit-transform: translate3d(10px, -43px, 0);
          transform: translate3d(10px, -43px, 0);
  width: 200px;
  z-index: 9999;
}

.start-menu-container.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start-menu-container .start-menu {
  border-left: 2px solid white;
  border-top: 2px solid white;
  -webkit-box-shadow: 2px 2px 1px 0 #000000aa;
          box-shadow: 2px 2px 1px 0 #000000aa;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.start-menu-container .start-menu .start-menu-brand {
  background-image: url("../assets/icons/start-menu-brand.svg");
  height: 100%;
  width: 30px;
}

.start-menu-container .start-menu .menu-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 170px;
}

.start-menu-container .start-menu .menu-contents a {
  text-decoration: none !important;
}

.start-menu-container .menu-item {
  background-color: #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  width: 100%;
}

.start-menu-container .menu-item:hover {
  background-color: navy;
  color: white;
}

.start-menu-container .menu-item-contents {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0.5em;
  padding-right: 1em;
  text-align: center;
  width: 100%;
}

.start-menu-container .menu-item-contents .menu-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 20px;
  padding: 0.25em;
  width: auto;
}

.start-menu-container .menu-item-contents .menu-icon div > span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.start-menu-container .weapon-select {
  cursor: default;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  left: 198px;
  position: absolute;
  width: 200px;
  z-index: 10000;
}

.start-menu-container .weapon-select .menu-item > .menu-item-contents {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.start-menu-container .volume-select {
  height: 50px;
  left: 198px;
  padding: 0 0.5em;
  position: absolute;
  top: 50px;
  width: 200px;
  z-index: 10000;
}

.start-menu-container .volume-select .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.start-menu-container .volume-select .menu-item:hover {
  background-color: transparent;
  color: initial;
}

.start-menu-container .volume-select .menu-item .menu-item-contents {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=startmenu.css.map */