.win-95 {
  background-color: #c0c0c0;
}

.win-95.container {
  border-left: 2px solid white;
  border-top: 2px solid white;
  -webkit-box-shadow: 2px 2px 1px 0 #000000aa;
          box-shadow: 2px 2px 1px 0 #000000aa;
  display: none;
}

.win-95.container.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.win-95.window {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  left: 50%;
  padding: .25em;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 10000;
}

.win-95.window.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.win-95.window .window-title-bar {
  background-color: navy;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .25em 0.5em;
}

.win-95.window .window-title-bar .text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
}

.win-95.window .window-title-bar .close-btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
}

.win-95.window .window-title-bar .close-btn .close-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
}

.win-95.window .window-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  font-weight: 500;
  height: 10%;
  margin: .5em 1em;
}

.win-95.window .window-contents {
  background-color: white;
  border-left: 2px inset #000000aa;
  border-top: 2px inset #000000aa;
  margin: 1em;
  overflow: auto;
  padding: 1em 2em;
}

.win-95.window .window-contents table {
  width: 100%;
}

.win-95.window .window-contents table tbody > tr > td {
  padding: 0.5em 1em;
}

.win-95.window .window-contents table tbody > tr:nth-of-type(even) {
  background-color: lightgray;
}

.win-95.window .window-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.win-95.btn {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #c0c0c0;
  -webkit-box-shadow: 1px 1px 1px 0 #000000aa;
          box-shadow: 1px 1px 1px 0 #000000aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.win-95.btn:focus {
  outline: none;
}

.win-95.btn:focus .btn-contents {
  outline: 1px dotted black;
}

.win-95.btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (max-width: 4000px) {
  .window {
    max-width: 30%;
  }
}

@media screen and (max-width: 1920px) {
  .window {
    max-width: 40%;
  }
}

@media screen and (max-width: 1366px) {
  .window {
    max-width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .window {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .window {
    max-width: 100%;
  }
}
/*# sourceMappingURL=win95.css.map */